* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: azure;
}

header {
    padding: 0;
    background-color: antiquewhite;


}

section {
    padding: 200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#image {
    width: 350px;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
    gap: 30px;
}

ul li a {
    text-decoration: none;
    color: black;
    transition: 0, 7s;
    font-size: 14px;
}

ul li a:hover {
    background-color: rgb(167, 231, 167);
    padding: 10px;
    color: rgb(41, 109, 218);
    font-weight: bold;
    border-radius: 10px;
    font-family: fantasy;

}

.btn-header {
    width: 35%;
    display: flex;
    justify-content: end;
    text-decoration: none;
    
}

.btn {
    background-color: rgb(239, 230, 143);
    border: 1px solid rgb(176, 208, 113);
    padding: 5px;
    margin: 40px;
    border-radius: 35px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0. 1);
    text-decoration: none;

}

.btn:hover {
    background-color: rgb(180, 232, 232);
    transform: rotate(4deg);

}

.home-sect {
    display: flex;
    padding: 40px;

}

.real {
    background-color: rgb(185, 185, 223);
    border-radius: 10px;
    color: black;
    padding: 10px;
    justify-content: space-between;
    font-weight: bold;
}

.disc {
    padding: 20px ;
    gap: 100px;
    margin: 40px;
    border-radius: 10px;
    background-color: rgb(3, 255, 3);
    font-weight: bold;
    font-size: 15px;
}
.disc{
    font-size: 20px;
}

.ok {
    padding: 100px;
}

.sect1 {
    background-color: rgb(225, 243, 243);
    margin: 0px;
    padding: 0px;
}

.sect2 {
    background-color: rgb(179, 207, 232);
    justify-content: center;
    padding: 70px;
    margin: 0;

}

.sect3 {
    background-color: rgb(225, 243, 243);
    padding: 100px;
}

.sect4 {
    background-color: rgb(179, 207, 232);
    padding: 100px;
}
.sect5{
    background-color: rgb(92, 196, 144);
    padding: 0 100px 50px 100px;
    margin: 0px;
}
   


#co1 ,#co2 ,#co3 ,#co4{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    font-family: Verdana ,Tahoma;
    padding: 10px;
    font-weight: bold;
}
.co5{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    font-family: Verdana ,Tahoma;
    color: white;
    font-weight: bold;
    margin: -10px;
}


#ko {
    width: 100px;
}

img {
    width: 150px;
    padding-left: 20px;
}
.right{
    width: 100px;
    
}
.left{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
#co2{
    justify-content: center;
}
#Contact{
    display: flex;
    gap: 250px;
    margin: 20px;
    padding: 0;
    white-space: nowrap;
    color: white;
    

}
.skills-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 04px;
    font-family: sans-serif;
}

.skill-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
}

.skill-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill-label {
    flex: 0 0 150px; /* Fixe la largeur du label */
    font-weight: bold;
}

.progress-bar-container {
    flex-grow: 5; /* Prend l'espace restant */
    height: 6px;
    background-color: #e0e0e0;
    border-radius: 3px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #2a0ba7; /* La couleur de la barre remplie (noir) */
    transition: width 0.5s ease-in-out;
}

.skill-percent {
    flex: 0 0 40px; /* Fixe la largeur du pourcentage */
    text-align: right;
    font-size: 0.8em;
    color: #666;
}
#c{
    white-space: nowrap;
}
.connexion{
    color: white;
    white-space: nowrap;
    
    
}
.taille{
width: 80px;
display: flex;
margin: -0px;


}
#just{
    justify-content: center;
    display: flex;
     margin: -10px;
    padding: 0;
    font-size: 30px;
    color: white;

}
nav{
    
    margin: 0;
    padding: 0;
}
.galerine{
    gap: 40px;
    overflow-x: auto;
    display: flex;
   width: max-content;
   padding: 40px;
   
}
#p{
    font-size: 40px;
}